extends layout.pug 

block title
  title #{title} 

block navbar
  li(class="nav-item")
    a(class="nav-link active", href="/") Home
  li(class="nav-item")
    a(class="nav-link", href="/about") About
  li(class="nav-item")
    a(class="nav-link" href="/contact") Contact

block content
  div(class="container my-5 p-0")
    div(class="jumbotron text-center px-4")
      img(src="https://lh3.googleusercontent.com/JC-6yHHN5q_bsJMUS4ulZUiZEUIh5I5nuWpDhj69cCp1OpMdkcSBFM-yCQ460fvzylxKdZSXYTVsznJhu0o5BhHqyufOdMjI2Dzl_kz_mLBfehpc4Sp0M1r-CnZhpS4ICC7GV28R7w=w2400", width="220", class="mb-4")
      h1(class="fs-2 fw-bold mb-0") Irfandi Iqbal Abimanyu
      p(class="lead mb-4")
        i(class="fas fa-graduation-cap")
        |  Mahasiswa
      hr
      p(class="lead fw-bold mb-2") Overview
      p(class="mb-5") Hi, Saya adalah mahasiswa yang sangat antusias dengan 
        i Programming. 
        | Sedang mempelajari 
        i Javascript Framework 
        | dalam Matakuliah Pemrograman Web Framework.
  
    div(class="row justify-content-center w-100 m-0")
      div(class="col-auto")
        div(class="card my-2" style="width: 20rem")
          div(class="card-body")
            h5(class="card-title m-0 text-center fw-bold")
              i(class="fas fa-code")
              |  Skill
          ul(class="list-group list-group-flush")
            li(class="list-group-item")
              span(class="badge bg-dark") 1
              |  HTML, CSS (
              i Advanced
              | )
            li(class="list-group-item")
              span(class="badge bg-dark") 2
              |  Javascript (
              i Intermediate
              | )
            li(class="list-group-item")
              span(class="badge bg-dark") 3
              |  PHP (
              i Intermediate
              | )
      div(class="col-auto")
        div(class="card my-2" style="width: 20rem")
          div(class="card-body")
            h5(class="card-title m-0 text-center fw-bold")
              i(class="fas fa-business-time")
              |  Pengalaman
          ul(class="list-group list-group-flush")
            li(class="list-group-item")
              span(class="badge bg-dark") 1
              |  Mahaiswa Aktif Polinela
            li(class="list-group-item")
              span(class="badge bg-dark") 2
              |  Aktif HMJ Ekonomi & Bisnis
            li(class="list-group-item")
              span(class="badge bg-dark") 3
              |  Kontribusi 
              i Open Source